/* For Our Clients Admin panel Page*/

.ic_our_clients {
    position: relative;
}
.ic_remove_fig {
    position: absolute;
    left: -6px;
    top: -7px;
    margin: 0;
}
.ic_padding_left_null{
    padding-left: 0px;
}

.ic_padding_top5{
    padding-top: 5px;
}
.ic_margin_top5{
    margin-top: 5px;
}
.ic_margin_left15{
    margin-left: 15px;
}
.ic_margin_right15{
    margin-right: 15px;
}
.ic_padding_bottom5{
    padding-bottom: 5px;
}
.displayInline{
    display: inline;
}
.eachClient{
    float: left;
}

/* ===== For Sortable ===== */

.ic-right {
    float: right
}
.ic-left {
    float: left;
    line-height: 3;
}
.ic-single-menu {
    display: table;
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px 15px;
    margin-bottom: 10px;
    cursor: move;
}

.ic-single-item{
    cursor: move;
}

.ic-left,.ic-right {
    display: table-cell;
}
.ic-btn button, .edit{
    position: relative;
    font-size: 16px;
    text-transform: capitalize;
    background-color: #2DA4F5;
    color: #fff;
    padding: 9px 10px;
    border: 1px solid #2DA4F5;
    transition: all 0.4s;
    border-radius: 5px;
}
.ic-btn button:focus {
    outline: 0;
    box-shadow: none;
}
.ic-btn button:before {
    position: absolute;
    font-family: 'Glyphicons Halflings';
    left: 11px;
    top: 9px;
    color: #fff;
    font-size: 14px;
}
/*.ic-btn button.edit:before {*/
/*content: "\e065";*/
/*}*/
/*.ic-btn button.delete:before {*/
/*content: "\e020";*/
/*}*/
button.delete {
    background-color: #FF3601;
    border: 1px solid #FF3601;
}
a.edit {
    background-color: #1d8bd6;
    border: 1px solid #1d8bd6;
}
a.edit:hover {
    color: white;
    background-color: #116cab;
    border-color: #1d8bd6;
}
button.delete:hover {
    background-color: #ad2e0d;
    border-color: #ad2e0d;
}

/* For Courser Move */
.curser_move{
    cursor: move;
}

/* For All Users */
.small-box .ic_students{
    top: -35px !important;
}
.small-box>.ic_inner{
    padding: 15px;
}
/*student checkbox*/
.small-box {
    position: relative;
}
.ic-check {
    position: absolute;
    left: 4px;
    top: 0px;
}
.ml-lg{
    margin-left: 20px;
}

.student_info p {
    margin: 0;
    padding: 5px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.student_info p:last-child {
    border-bottom: 0px;
}

/* For Student Promotion */
.ic-student-promotion{
    top: -18px !important;
    right: 33px !important;
}

.ic-inner-promotion{
    padding: 100px 0px 1px 0px;
}

.ic-promotion-about{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}

/* Rotate 90 Degree*/
.rotate {
    transform: rotate(-60deg);
    /* Safari */
    -webkit-transform: rotate(-60deg);

    /* Firefox */
    -moz-transform: rotate(-60deg);

    /* IE */
    -ms-transform: rotate(-60deg);

    /* Opera */
    -o-transform: rotate(-60deg);

}
