table, th, td {
    /*border: 1px solid black;*/
    /*border-collapse: collapse;*/
}
th, td {
    padding: 15px;
    text-align: left;
}

/* Rotate 90 Degree*/
.rotate {
    transform: rotate(-60deg);
    /* Safari */
    -webkit-transform: rotate(-60deg);

    /* Firefox */
    -moz-transform: rotate(-60deg);

    /* IE */
    -ms-transform: rotate(-60deg);

    /* Opera */
    -o-transform: rotate(-60deg);

}

.rotate_text {
    display: inline-block;
    white-space: nowrap;
    line-height: 1.5;
    transform: translate(0,100%) rotate(-60deg);
    transform-origin: 0 0;
}
/* This element stretches the parent to be square
   by using the mechanics of vertical margins  */
.rotate_text:after {
    content: "";
    display: block;
    margin: -1.5em 0 100%;
}